extends layout

block content
    h1 #{title}
    form(action="/blogposts/add", method="post")
        #form-group
            label Title: 
            input.form-control(name="title",type="text")
        #form-group
            label Body: 
            textarea.form-control(name="body").mb-4
        input.btn.btn-primary(type="submit", value="submit")