extends layout

block content
    h1 #{title}
    form(action="/blogposts/edit/"+blogpost._id, method="post")
        #form-group
            label Title: 
            input.form-control(name="title",type="text", value= blogpost.title)
        #form-group
            label Body: 
            textarea.form-control(name="body").mb-4=blogpost.body
        input.btn.btn-primary(type="submit", value="submit")