extends layout

block content
    h1.mb-4 Login
    form(action="/users/login", method="post")
        #form-group
            label Username: 
            input.form-control(name="username", type="text")
        #form-group
            label Password: 
            input.form-control(name="password", type="password").mb-4        
        input.btn.btn-primary(type="submit", value="submit")